// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail_container {
  flex-wrap      : wrap;
  text-align     : center;
  justify-content: center;
}

.cards {
  display        : flex;
  flex-wrap      : wrap;
  text-align     : center;
  justify-content: center;
  color: white;
}

.card {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 1px gray;
  padding: 20px;
  margin: 15px;
  background-size: cover !important;
  background-position: center;
  // margin-right: 160px;
  // margin-left: 160px;
  opacity:1;
  filter: sepia(50%);
  transition: .3s ease-in-out;
  &:hover {
    opacity: 0.95;
    filter: sepia(0);
  }
}

.card-l {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#show-card {
  color: black;
  filter: sepia(0%);
}

#show-img {
  padding: 5px;
  filter: sepia(0%);
}

.icons {
  display        : flex;
  flex-wrap      : wrap;
  text-align     : center;
  justify-content: center;
}

.icon {
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  // margin-right: 160px;
  // margin-left: 160px;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
 margin-bottom: 0px;
}

a {
  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}


// nav

.navbar-cocktail {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-cocktail-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-cocktail .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-cocktail-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-cocktail-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-cocktail-link {
  color: #616668;
  font-size: 14px;
}
.navbar-cocktail-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-cocktail-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-cocktail-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-cocktail-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-cocktail-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}











